<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Souk</title>

        <link rel="stylesheet" href="assets/css/vendor.css" />
        <link rel="stylesheet" href="assets/css/app.css" />
        <link rel="stylesheet" href="assets/css/select2.css" />
        <link rel="stylesheet" href="assets/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" />

        <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="navbar-brand text-center" href="home.html">
            <img src="assets/img/logo@2x.png" alt="Souk" class="logo-top">
            </a>

            <div class="navbar-top">
                <ul>
                    <li><i class="rounded-circle fa fa-user-o" id="user"></i></li>
                    <li class="text-left">
                        <p>
                            Francisco da Silva Xavier<br>
                            <strong>SEARA ALIMENTOS LTDA</strong>
                        </p>
                    </li>
                    <li class="text-center">
                        <a href="javascript:" id="upload" data-toggle="modal" data-target="#exampleModal">
                            <i class="icon icon-upload"></i>
                            <strong>UPLOADS</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="d-flex align-items-stretch">
        
            <div class="sidebar">
                <ul class="list-unstyled">
                    <li class=""><a href="lances.html" class="seta-direita"><i class="icon icon-lances"></i>Lances</a></li>
                    <li class=""><a href="lances-finalizados.html" class="seta-direita"><i class="icon icon-lance-finalizados"></i>Lances finalizados</a></li>
                    <li class=""><a href="matchs.html" class="seta-direita"><i class="icon icon-matchs"></i>Matchs</a></li>
                    <li class=""><a href="addons.html" class="seta-direita"><i class="icon icon-addon"></i>add-ons</a></li>
                </ul>

                <div style="">
                    <hr>
                    <div class="row justify-content-center icon-nav-bottom">
                        <div class="col text-center">
                            <a href="#" class="mx-auto"><i class="icon icon-settings"></i></a>
                        </div>
                        <div class="col text-center">
                            <a href="#" class="mx-auto"><i class="icon icon-logout"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content home p-df">

              <ul class="list-week pl-0">
                    <li class="active"><a href="javascript:" class="text-uppercase">1 semana <div class="badge badge-secondary">3</div></a></li>
                    <li><a href="javascript:" class="text-uppercase">2 semanas <div class="badge badge-secondary">3</div></a></li>
                    <li><a href="javascript:" class="text-uppercase">3 semanas <div class="badge badge-secondary">3</div></a></li>
                    <li><a href="javascript:" class="text-uppercase">4 semanas <div class="badge badge-secondary">3</div></a></li>
                    <li><a href="javascript:" class="text-uppercase">5 semanas ou + <div class="badge badge-secondary">3</div></a></li>
              </ul>

                  <div class="row mt-5">
                    <div class="col">
                      <div class="card card-produto-interna">
                              <div class="row">
                                  <div class="col-3">
                                      <div class="produto-img-interna rounded-circle text-center">
                                          <img src="{{ asset('img/produto.png') }}" alt="">
                                      </div>
                                  </div>
                                  <div class="col-9 dados-produto">
                                    <p class="text-uppercase">Salsicha Resfriada</p>
                                    <span class="text-uppercase">Peso: 500g  |  Caixa: 19Kg <small>(18 x 500g)</small>  |  Marca: Seara</span>

                                    <div class="box-dados mt-3">
                                      <div class="row">
                                        <div class="col-5">
                                          <i class="icon icon-valor pull-left"></i>
                                          <p class="text-uppercase pull-left">R$ 3,40<br><span>Oferta inicial</span></p>
                                        </div>
                                        <div class="col-7">
                                          <i class="icon icon-volume pull-left"></i>
                                          <p class="text-uppercase pull-left">R$ 3,40<br><span>Oferta inicial</span></p>
                                          <button class="btn btn-editar rounded-circle mt-2 btn-default pull-right" data-toggle="modal" data-target="#editarModal"><i class="icon icon-edit"></i></button>
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div>
                              </div>
                              
                          </div>
                    </div>

                    <div class="col">
                      <div class="card" style="height: 180px;">
                        <div class="card-title mb-0">
                                  <p class="badge badge-secondary text-uppercase">Lances em aberto</p>
                              </div>
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <div class="box-lances">
                                <i class="icon icon-lances pull-left"></i>
                                <p class="pull-left">
                                  LANCES<br><span>7</span>
                                </p>
                              </div>
                            </div>
                            <div class="col">
                              <div class="box-lances">
                                <i class="icon icon-valor pull-left"></i>
                                <p class="pull-left">
                                  PREÇO MÉDIO<br><span>R$ 23,30</span>
                                </p>
                              </div>
                            </div>
                            <div class="col">
                              <div class="box-lances">
                                <i class="icon icon-volume pull-left"></i>
                                <p class="pull-left">
                                  VOLUME<br><span>100t</span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-5">
                    <div class="col">
                      <div class="card">
                        <div class="card-title mb-0">
                                  <p class="badge badge-secondary text-uppercase">Realizados hoje</p>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-2">
                                    <div class="box-lances two">
                                <i class="icon icon-clientes pull-left"></i>
                                <p class="pull-left">
                                  CLIENTES<br><span>8</span>
                                </p>
                              </div>
                              <div class="box-lances two mt-4">
                                <i class="icon icon-valor pull-left"></i>
                                <p class="pull-left">
                                  PREÇO MÉDIO<br><span>R$ 3,30</span>
                                </p>
                              </div>
                              <div class="box-lances two mt-4">
                                <i class="icon icon-volume pull-left"></i>
                                <p class="pull-left">
                                  VOLUME<br><span>100t</span>
                                </p>
                              </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>

                  <div class="row mt-5">
                    <div class="col">
                      <div class="card">
                        <div class="card-title mb-0">
                                  <p class="badge badge-secondary text-uppercase">Lances em aberto</p>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  
                                  <div class="col-8">
                                    <table class="table tabela-lances">
                                      <thead>
                                        <th class="text-left" colspan="7">LANCES</th>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>ORDEM</td>
                                          <td>CNPJ</td>
                                          <td>VOLUME</td>
                                          <td>PREÇO</td>
                                          <td>PARCIAL</td>
                                          <td>CENTRO DE DISTRIBUIÇÃO</td>
                                          <td></td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>07.170.938/0001-07</td>
                                          <td>50Kg</td>
                                          <td>R$ 2,00</td>
                                          <td>Não aceita</td>
                                          <td>Bebedouro</td>
                                          <td>
                                            <input type="checkbox" name="" value="">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>07.170.938/0001-07</td>
                                          <td>50Kg</td>
                                          <td>R$ 2,00</td>
                                          <td>Não aceita</td>
                                          <td>Bebedouro</td>
                                          <td>
                                            <input type="checkbox" name="" value="">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>07.170.938/0001-07</td>
                                          <td>50Kg</td>
                                          <td>R$ 2,00</td>
                                          <td>Não aceita</td>
                                          <td>Bebedouro</td>
                                          <td>
                                            <input type="checkbox" name="" value="">
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>1</td>
                                          <td>07.170.938/0001-07</td>
                                          <td>50Kg</td>
                                          <td>R$ 2,00</td>
                                          <td>Não aceita</td>
                                          <td>Bebedouro</td>
                                          <td>
                                            <input type="checkbox" name="" value="">
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                        
                        <div class="col-4">
                          <div class="box-selecionados">
                            <div class="badge badge-secondary title">LANCES SELECIONADOS</div>
                            
                            <div class="p-4">
                              <div class="box-itens mt-4">
                                <i class="icon icon-valor pull-left"></i>
                                <p class="pull-left">PREÇO MÉDIO<br><span>R$ 3,30</span></p>
                              </div>
                              <div class="box-itens mt-4">
                                <i class="icon icon-volume pull-left"></i>
                                <p class="pull-left">VOLUME<br><span>150Kg</span></p>
                              </div>
                              <div class="box-itens mt-4">
                                <i class="icon icon-lances pull-left"></i>
                                <p class="pull-left">LANCES<br><span>2</span></p>
                              </div>
                              <button class="btn btn-primary btn-block mt-5 btn-aceitar">ACEITAR</button>
                            </div>

                          </div>
                          
                        </div>

                                </div>
                              </div>
                      </div>
                    </div>
                  </div>

            </div>

        </div>

        <div class="footer">
            <div class="pull-right">

            </div>
            <div>
                © Souk | Todos os direitos reservados
            </div>
        </div>

         <!-- Modal -->
    <div class="modal fade" id="editarModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5 id="editarModalLabel">Editar produto</h5>
                </div>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="icon icon-close"></i></span>
                </button>
            </div>
            <div class="modal-body">
            
                <div class="row mt-5">
                    <div class="col">
                        <div class="row">
                            <div class="col-2">
                                <i class="icon icon-valor pull-left"></i>
                            </div>
                            <div class="col-10">
                                <input type="text" value="3,40" name="" class="form-control input-padrao pull-left">
                            </div>
                        </div>
                        
                        <p>A alteração pode liquidar alguns lances automaticamente, após o processamento, se houverem, eles serão listados</p>
                    </div>
                    <div class="col border-left">
                        <div class="row">
                            <div class="col-2">
                                <i class="icon icon-volume"></i>
                            </div>
                            <div class="col-10">
                                <input type="text" value="3,40" name="" class="form-control input-padrao">
                            </div>
                        </div>
                        
                        <p>Não é possível aumentar o volume diário, apenas diminuí-lo</p>
                    </div>
                </div>

            </div>
          <div class="modal-footer mt-5">
            <button type="button" class="btn btn-padrao btn-cancelar" data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn pull-left btn-padrao verde" data-dismiss="modal" data-toggle="modal" data-target="#confirmarModal">SALVAR</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5 id="confirmarModalLabel">Confirme a alteração</h5>
                </div>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="icon icon-close" aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="box-lances">
                    <div class="row">
                        <div class="col-1">
                            <i class="icon icon-valor pull-left"></i>
                        </div>
                        <div class="col-3">
                            <p>ALTERAR VALOR PARA</p>
                            <strong>R$ 3,25</strong>
                        </div>
                        <div class="col-7 border-left" style="line-height: 1.38;height: 5rem;">
                            <p>Essa alteração resultará no aceite automático dos lances listados abaixo</p>
                        </div>
                    </div>
                </div>
            
                <table class="table tabela-lances mt-24">
                    <thead>
                        <th class="text-left" colspan="6">LANCES A SEREM ACEITOS</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ORDEM</td>
                            <td>CNPJ</td>
                            <td>VOLUME</td>
                            <td>PREÇO</td>
                            <td>PARCIAL</td>
                            <td>CENTRO DE DISTRIBUIÇÃO</td>
                        </tr>
                        
                        <tr>
                            <td>{{$i}}</td>
                            <td>07.170.938/0001-07</td>
                            <td>50Kg</td>
                            <td>R$ 2,00</td>
                            <td>Não aceita</td>
                            <td>Bebedouro</td>
                        </tr>
                        
                    </tbody>
                </table>
               
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-padrao btn-cancelar" data-dismiss="modal">CANCELAR</button>
            <button type="button" class="btn pull-left btn-padrao verde">CONFIRMAR ALTERAÇÃO</button>
          </div>
        </div>
      </div>
    </div>
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="assets/js/select2.js" type="text/javascript"></script>
        <script src="assets/js/main.js" type="text/javascript"></script>

    </body>
</html>
